:root {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    --primary-color:blue;
    --secondary-color: black;
    --tertiary-color:black;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
nav {
    position: sticky;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
    nav h1 {
        color: var(--color-primario);
        }
        nav a {
        color: var(--color-primario);
        transition: var(--transicion);
        }
        nav a:hover {
        color: var(--valor-secundario);
        border-bottom: 2px solid var(--valor-secundario);
        }
        nav ul {
        display: flex;
        gap: 1.9rem;
        }
        nav ul li {
        font-weight: var(--negrita);
        }
        .menu-hamburguesa {
            color: var(--primary-color);
            font-size: 2rem;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            display: none;
            }
            div1{
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                position: center;
                top: 0;
                left: 0;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1.5rem 3.5rem;
                background-color: var(--bg-color);
                box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        
                }
                .sociales {
                    display: flex;
                    flex-direction: column;
                    position: fixed;
                    right: 1%;
                    bottom: 50%;
                    }
                    .socicon {
                    width: 2rem;
                    height: 2rem;
                    }
                    .proyectos {
                        background-color: var(--bg-color);
                        padding: 32px 0;
                        margin-top: 2rem;
                      }
                      .foto-de-proyecto {
                        width: 130%;
                        height: 80%;
                      }
                      .contenedor-de-proyectos {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        }
                      .contenedor-de-proyecto {
                        text-align: center;
                        width: 21.875rem;
                        padding: 1rem;
                      }    
                      .titulo-de-proyectos {
                        text-align: center;
                        margin-bottom: 1rem;
                      }
                      .contenedor-de-proyecto p {
                        padding: 0.4rem;
                        }
                        .titulo-de-proyecto {
                        margin-bottom: var(--bottom-margin);
                        }
                        .detalles-de-proyecto {
                        margin-bottom: var(--bottom-margin);
                        }
                        .tarjeta-de-proyecto {
                        background-color: #fff;
                        border-radius: 11px;
                        box-shadow: 0 3px 10px var(--primary-shadow);
                        padding: 60px;
                        margin: 50px;
                        }
                        .contacto {
                            margin-top: 2rem;
                          }
                          .contacto h2 {
                            text-align: center;
                            margin-bottom: var(--bottom-margin-2);
                          }
                          .contenedor-formulario-contacto {
                            max-width: 40.75rem;
                            margin: 0 auto;
                            padding: 0.938rem;
                            border-radius: 5px;
                            box-shadow: 0 3px 10px var(--secondary-shadow);
                          }
                          .contenedor-formulario-contacto label {
                            line-height: 2.7em;
                            font-weight: var(--bold-font);
                            color: var(--tertiary-colo);
                          }
                          .contenedor-formulario-contacto textarea {
                            min-height: 6.25rem;
                            font-size: 14px;
                          }
                          .contenedor-formulario-contacto .input-field {
                            width: 100%;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            border-radius: 5px;
                            border: none;
                            border: 2px outset var(--tertiary-color);
                            font-size: 0.875rem;
                            outline: none;
                          }
                          .input-field::placeholder {
                            padding: 0.5rem;
                            color: var(--tertiary-colo);
                            }
                          .submit-btn {
                            width: 100%;
                            padding: 10px;
                            margin: 10px 0;
                            background-color: green;
                            border: 2px solid var(--tertiary-color);
                            border-radius: 5px;
                            font-size: 1rem;
                            font-weight: var(--bold-font);
                            transition: var(--transition);
                          }
                          .submit-btn:hover {
                            background-color: var(--tertiary-colo);
                            border: 2px solid var(--tertiary-color);
                            cursor: pointer;
                          }                        